<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задача 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            height: 100vh;
            background-color: #2e2c2c;
            color: white;
        }

        label {
            font-size: 28pt;
            font-weight: 600;
            margin-right: 20px;
        }

        input {
            width: 100px;
            height: 28pt;
            border: 3px solid white;
        }

        div:first-child {
            margin-bottom: 30px;
        }
    </style>
</head>
<body class="d-flex flex-column justify-content-center align-items-center">

<div>
    <label for="change">Для теста события change выберите цвет здесь:</label>
    <input id="change" type="color" value="#1f573d">
</div>

<div>
    <label for="input">Для теста события input выберите цвет здесь:</label>
    <input id="input" type="color" value="#1f573d">
</div>

<script type="text/javascript" src="../js/Module_2.2.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>