<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Задача 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            background-color: #2e2c2c;
            color: white;
            height: 100vh;
        }

        p {
            font-size: 28pt;
            font-weight: 600;
        }

        button span {
            font-size: 20pt;
        }
    </style>
</head>
<body class="d-flex flex-column justify-content-center align-items-center">

<p class="text-center">Количество кликов мыши: <span></span></p>
<button class="btn btn-success"><span>Кликни по мне</span></button>

<script type="text/javascript" src="../js/Module_2.1.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>